@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CZ Prague
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hermes.com">Support@hermes.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hermes.com">Marketing@hermes.com</a>
</address>